/* 
  Feather minimal CSS Framework 
	https://github.com/stfnk/feather/
*/

body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #d8d8d8;
}

h1 {
    font-size: 3.3em; margin: 20px 0; }
h2 {
    font-size: 3em;
    margin: 18px 0;

}
h3 {
    font-size: 2.5em;
    margin: 16px 0;
}
h4 {
    font-size: 2.1em;
    margin: 14px 0;

}
h5 {
    font-size: 1.8em;
    margin: 12px 0;

}
h6 {
    font-size: 1.3em;
    margin: 10px 0;
}


p {
    line-height: 0.7em;
}

a {
    text-decoration: none;
    color: #1204d3;
    font-weight: 500;
}
a:hover {
    color: #1f5ac6;
}

.container {
    padding: 20px 10%;
    margin: 0 auto;
    background-color: #fafafa;
    clear:both;
}
.container-transparent {
    padding: 20px 10%;
    margin: 0 auto;
    clear:both;
}

.nav {
    width: 100%;
}
.nav ul {
    padding: 0 7%;
    margin: 0 auto;
}
.nav li {
    display: inline-block;
    margin: 10px 5px;
}
.nav a {
    padding: 12px 18px;
    font-size: 16px;
    color: #000;
}

.nav-light {
    background-color: #e8eae8;
    border: 1px solid #;
    color: #292929;
}
.nav-light a {
    color: #222;
}
.nav-light a:hover {
    background-color: #c6c6c6;
}
.nav-dark {
    background-color: #353535;
    border: 1px solid #595555;
} 
.nav-dark a {
    color: #DDD;
}
.nav-dark a:hover {
    background-color: #595555;
} 



.button {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    padding: 10px 15px;
    border-radius: 4px;
}

.btn-white {
    background-color: #AAA;
    color: #111;
    border: 1px solid #BBB;
}
.btn-white:hover {
    background-color: #BBB;
    color: #000;
}
.btn-blue {
    background-color: #0c00b7;
    color: #DDD;
    border: 1px solid #1554f2;
}
.btn-blue:hover {
    background-color: #1554f2;
    color: #DDD;
}
.btn-red {
    background-color: #bf0909;
    color: #DDD;
    border: 1px solid #f93b3b;
}
.btn-red:hover {
    background-color: #f93b3b;
    color: #DDD;
}
.btn-green {
    background-color: #035e2b;
    color: #DDD;
    border: 1px solid #0a933f;
}
.btn-green:hover {
    background-color: #0a933f;
    color: #DDD;
}


/* grid of 12 */
.grid {
    width: 100%;
    margin: 10px 1%;
    background-color: #FFF;
    text-align: center;
}
.grid:first-child { margin-left: 0; }
.grid:last-child { margin-right: 0; }

.twelve {
    width: 100%;
    float: left;
}
.eleven {
    /*width: 91.66%;*/
    width: 89.66%;
    float: left;
}
.ten {
    /*width: 83.33%;*/
    width: 81.33%;
    float: left;
}
.nine {
    /*width: 75%;*/
    width: 73%;
    float: left;
}
.eight {
    /*width: 66.66%;*/
    width: 64.66%;
    float: left;
}
.seven {
    /*width: 58.33%;*/
    width: 56.33%;
    float: left;
}
.six {
    /*width: 50%;*/
    width: 48%;
    float: left;
}
.five {
    /*width: 41.66%;*/
    width: 39.66%;
    float: left;
}
.four {
    /*width: 33.33%;*/
    width: 31.33%;
    float: left;
}
.three {
    width: 23%;
    float: left;
    /*width: 23%;*/
}
.two {
    /*width: 16.67%;*/
    width: 14.67%;
    float: left;
}
.one {
    /*width: 8.33%;*/
    width: 6.33%;
    float: left;
}

@media (max-width:570px) {
    .button {
        margin: 5px auto;
        max-width: 95%;
        min-width: 55%;
        text-align: center;
    }
    .container {
        padding: 20px 2%;
        margin: 0 auto;
        background-color: #fafafa;
        clear:both;
    }
    .container-transparent {
        padding: 20px 2%;
        margin: 0 auto;
        clear:both;
    }
    .one, .two {
        width: 48%;
        float: left;.
        width: 48%;
        float: left;
    }
    .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
        width: 98%;
        float: left;
    }
}
